<!-- <div class="row">
  <div class="col-md-4 col-md-offset-4 text-center pad-top-15">
    <h1>GhEditor</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        Please authorize yourself to work with GhEditor.
      </div>
      <div class="panel-footer">
        <a class="btn btn-primary btn-lg" href="https://github.com/login/oauth/authorize?scope=user:email,repo&client_id=<%= @client_id %>" role="button">Authorization via Github</a>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="card mt-5">
  <div class="card-header">
    <h1>Расчет статистической работы по терверу</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Что нужно сделать:</h5>
    <p class="card-text">1. Зарегистрироваться на github.com</p>
    <p class="card-text">2. Авторизоваться нажав "Авторизоваться через Гитхаб" </p>
    <p class="card-text">3. Следовать дальнейшим инструкциям</p>
    <a class="btn btn-primary btn-lg" href="https://github.com/login/oauth/authorize?client_id=<%= @client_id %>" role="button">Авторизоваться через Гитхаб</a>
  </div>
</div>
</div>
