<div class="alert alert-danger" role="alert">
  <% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</div>
<div class="container d-flex h-100">
    <div class="col justify-content-center align-self-center mt-5">
      <ul class="list-group">
        <li class="list-group-item">1. Переходим на страницу проекта <br> <a class="btn btn-primary btn-small" href="https://github.com/Koilanetroc/SolveTerver" role="button" target="_blank" >Перейти</a></li>
        <li class="list-group-item">2. Жмем на звездочку в правом верхнем углу <br> <img src="star.png" class="rounded" alt="star location"></li>
        <li class="list-group-item">3. Переходим на страницу решения <br> <a class="btn btn-primary btn-small" href="/input_data" role="button" >Перейти</a> </li>
      </ul>
    </div>
</div>
