
    <div class="container">
      <form action="/solve" method="post">
        <div class="form-group row">
          <label for="exampleTextarea" class="col-sm-2 col-form-label">Значения X</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="exampleTextarea" rows="3" name="value_x"></textarea>
          </div>
          <label for="exampleTextarea" class="col-sm-2 col-form-label">Значения Y</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="exampleTextarea" rows="3" name="value_y"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
